# Stolen from https://medium.com/swlh/setting-up-github-actions-for-go-project-ea84f4ed3a40
name: CICD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.14.0'
      # Go Setup
      - name: Setup Go
        uses: actions/checkout@v2


      # Build
      - name: Install Deps
        run: |
          mkdir out
          cd out
          go build ..
          cd ..

      - name: Bundle
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: "./out"